DATABASE_URL=postgresql+asyncpg://postgres:postgres@postgres:5432/news_monitor
ELASTICSEARCH_URL=http://elasticsearch:9200
CORS_ORIGINS=http://localhost:5173
DEFAULT_KEYWORDS=
SECURITY_KEY=YwAWgsfOaHmLg4yvivtkw6K9Y5PESarc_SOkOvZtiqqHCGyD1o-r05NzbEN1OIK9jFgfPz6BM9MPmWXtEpsuLw
